astroid
certifi
chardet
Click
Flask
idna
isort
itsdangerous
Jinja2
joblib
lazy-object-proxy
MarkupSafe
mccabe
nltk
numpy
pylint
requests
scikit-learn
scipy
six
typed-ast
urllib3
vaderSentiment
Werkzeug
wrapt
